h1
	{color:green
}

#tools {color: yellow;}
#others {color: orange;}


ul
{
	color: red;
}

li

#javascript
{
	color: red;
}
#sublime
{
	color: red;
}
#heroku
{
	color: red;
}
#node
{
	color: red;
}
#react
{
	color: red;
}

#cascading
{
	color: violet;
}
#postman
{
	color: violet;
}
#gitlab
{
	color: violet;
}
#express
{
	color: violet;
}
#mongodb
{
	color: violet;
}